In [ ]:
# Overall goal is to load the 4 disparate datasets and merge them into one
# then I need to create regions column for comparison and analysis
# then I need to come up with a road map on what we can do with the data

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display

In [3]:
# create directory

# import pathlib
# path = pathlib.Path(r'C:\Users\Mohamed Ahmed Warsam\Desktop\Material\WORKING DIRECTORY\Governance_Growth').mkdir(parents=True, # exist_ok=True) 

#import os
#path = os.chdir(r'C:\Users\Mohamed Ahmed Warsam\Desktop\PythonScripts')
datapath1 = 'data/p4v2016.xls'
datapath2 = 'gdp_per_capita.xlsx'

In [4]:
# load the two dataframes

data1 = pd.read_excel(datapath1, sheetname=0)
data2 = pd.read_excel(datapath2, sheetname=0)

In [5]:
# display the two dataframes

display(data1.head())
display(data2.head())

,cyear,ccode,scode,country,year,flag,fragment,democ,autoc,polity,...,interim,bmonth,bday,byear,bprec,post,change,d4,sf,regtrans
0,7001800,700,AFG,Afghanistan,1800,0,NaN,1,7,-6,...,NaN,1.0,1.0,1800.0,1.0,-6.0,88.0,1.0,NaN,NaN
1,7001801,700,AFG,Afghanistan,1801,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7001802,700,AFG,Afghanistan,1802,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7001803,700,AFG,Afghanistan,1803,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7001804,700,AFG,Afghanistan,1804,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

       Country Currency  Year  Per capita GDP
0  Afghanistan      US$  1970      157.258461
1  Afghanistan      US$  1971      160.443153
2  Afghanistan      US$  1972      136.175612
3  Afghanistan      US$  1973      144.173945
4  Afghanistan      US$  1974      175.027098

In [6]:
# Motivation for paper is to show there was a change at some point in the mid 1990s
# load the polity IV data (PolityIV.xlsx) spanning 1970 to now and the GDP per capita (gdp_per_capita.xlsx)
# merge the data and group by region column and use mean method to get
# 1) mean democracy score plotted with average gdp per capita to replicate the chart in Green (2013)
# remember that some countries and years have nan values
# strategy to overcome this is to first create a list where the polity variables are notnull
# and then use the index attribute to select the Year column for those rows to subset the dataframe in this way

In [7]:
# first define the year and region lists

timerange1 = [1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
            2008, 2009, 2010, 2011, 2012, 2013, 2013, 2014, 2015]

In [8]:
# first define the year and region lists

# filter dataset by region - Africa

SSA1 = ["Angola", "Gabon", "Nigeria", "Benin", "Gambia, The", "Rwanda", "Guinea-Bissau",
   "Botswana", "Ghana", "São Tomé and Principe", "Burkina Faso", "Guinea", "Senegal", "Burundi", "Seychelles", "Cabo Verde", "Kenya", "Sierra Leone", "Cameroon", "Lesotho", "Somalia", "Central African Republic", "Liberia", "South Africa", "Chad", "Madagascar", "Comoros", "Malawi", "Sudan", "Congo, Dem. Rep.", "Mali", "Swaziland", "Congo, Rep", "Mauritania", "Tanzania", "Côte d'Ivoire", "Mauritius", "Togo", "Equatorial Guinea", "Mozambique", "Uganda", "Eritrea" "Namibia", "Zambia", "Ethiopia", "Niger", "Zimbabwe"]

In [10]:
data1 = data1.rename(columns={'country': 'Country', 'year': 'Year'})

In [11]:
# limit time range in polity IV series

data1final = data1[(data1['Year'].isin(timerange1))]
data1final.head()

,cyear,ccode,scode,Country,Year,flag,fragment,democ,autoc,polity,...,interim,bmonth,bday,byear,bprec,post,change,d4,sf,regtrans
170,7001970,700,AFG,Afghanistan,1970,0,NaN,0,7,-7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,7001971,700,AFG,Afghanistan,1971,0,NaN,0,7,-7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,7001972,700,AFG,Afghanistan,1972,0,NaN,0,7,-7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,7001973,700,AFG,Afghanistan,1973,0,NaN,0,7,-7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,7001974,700,AFG,Afghanistan,1974,0,NaN,0,7,-7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data1.head(3)

,cyear,ccode,scode,Country,Year,flag,fragment,democ,autoc,polity,...,interim,bmonth,bday,byear,bprec,post,change,d4,sf,regtrans
0,7001800,700,AFG,Afghanistan,1800,0,NaN,1,7,-6,...,NaN,1.0,1.0,1800.0,1.0,-6.0,88.0,1.0,NaN,NaN
1,7001801,700,AFG,Afghanistan,1801,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7001802,700,AFG,Afghanistan,1802,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data2.head()

       Country Currency  Year  Per capita GDP
0  Afghanistan      US$  1970      157.258461
1  Afghanistan      US$  1971      160.443153
2  Afghanistan      US$  1972      136.175612
3  Afghanistan      US$  1973      144.173945
4  Afghanistan      US$  1974      175.027098

In [15]:
# merging the two dataframes
mergedf = pd.merge(left=data2, right=data1final, how='left', on=['Country', 'Year'])

In [16]:
# make sure we have the right date range and countries
mergedf1 = mergedf[(mergedf['Year'].isin(timerange1)) & (mergedf['Country'].isin(SSA1))]

In [50]:
mergedf1['Country'].nunique()

40

In [49]:
# check mergedf1
display(mergedf1.head())
display(mergedf1.info())

,Country,Currency,Year,Per capita GDP,cyear,ccode,scode,flag,fragment,democ,...,interim,bmonth,bday,byear,bprec,post,change,d4,sf,regtrans
276,Angola,US$,1970,604.189952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,Angola,US$,1971,622.501779,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,Angola,US$,1972,622.704067,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,Angola,US$,1973,743.128379,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,Angola,US$,1974,812.704326,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1744 entries, 276 to 10548
Data columns (total 38 columns):
Country           1744 non-null object
Currency          1744 non-null object
Year              1744 non-null int64
Per capita GDP    1744 non-null float64
cyear             1586 non-null float64
ccode             1586 non-null float64
scode             1586 non-null object
flag              1586 non-null float64
fragment          580 non-null float64
democ             1586 non-null float64
autoc             1586 non-null float64
polity            1586 non-null float64
polity2           1584 non-null float64
durable           1586 non-null float64
xrreg             1586 non-null float64
xrcomp            1586 non-null float64
xropen            1586 non-null float64
xconst            1586 non-null float64
parreg            1586 non-null float64
parcomp           1586 non-null float64
exrec             1586 non-null float64
exconst           1586 non-null float64
polcomp           1586 non-null float64
prior             200 non-null float64
emonth            209 non-null float64
eday              209 non-null float64
eyear             209 non-null float64
eprec             209 non-null float64
interim           155 non-null float64
bmonth            169 non-null float64
bday              169 non-null float64
byear             169 non-null float64
bprec             169 non-null float64
post              167 non-null float64
change            265 non-null float64
d4                164 non-null float64
sf                56 non-null float64
regtrans          278 non-null float64
dtypes: float64(34), int64(1), object(3)
memory usage: 531.4+ KB

None

In [18]:
# add a region column SSA
# drop rows for which we have no data for either of the two variables
# groupby region and year and calculate mean GDP in an array
# plot this against mean democracy score
# subset the dataframe for countries that have nonnull institutional variables
# come up with as many plots as possible
# create a subset dataframe with year, mean gdp and mean democracy score

In [19]:
# final df
findf = mergedf1.copy()
findf.index = pd.RangeIndex(len(findf.index))

In [20]:
# create region column
findf.head(10)

,Country,Currency,Year,Per capita GDP,cyear,ccode,scode,flag,fragment,democ,...,interim,bmonth,bday,byear,bprec,post,change,d4,sf,regtrans
0,Angola,US$,1970,604.189952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Angola,US$,1971,622.501779,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,US$,1972,622.704067,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,US$,1973,743.128379,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,US$,1974,812.704326,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,US$,1975,583.542745,5401975.0,540.0,ANG,0.0,NaN,0.0,...,NaN,11.0,11.0,1975.0,1.0,-7.0,99.0,1.0,NaN,99.0
6,Angola,US$,1976,545.366469,5401976.0,540.0,ANG,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Angola,US$,1977,579.128062,5401977.0,540.0,ANG,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Angola,US$,1978,627.885755,5401978.0,540.0,ANG,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Angola,US$,1979,676.503871,5401979.0,540.0,ANG,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# we want a column 'Region'
findf['Region'] = 'SSA'

In [23]:
# check findf
findf['Region'] = findf['Region'].astype('category')
display(findf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1744 entries, 0 to 1743
Data columns (total 39 columns):
Country           1744 non-null object
Currency          1744 non-null object
Year              1744 non-null int64
Per capita GDP    1744 non-null float64
cyear             1586 non-null float64
ccode             1586 non-null float64
scode             1586 non-null object
flag              1586 non-null float64
fragment          580 non-null float64
democ             1586 non-null float64
autoc             1586 non-null float64
polity            1586 non-null float64
polity2           1584 non-null float64
durable           1586 non-null float64
xrreg             1586 non-null float64
xrcomp            1586 non-null float64
xropen            1586 non-null float64
xconst            1586 non-null float64
parreg            1586 non-null float64
parcomp           1586 non-null float64
exrec             1586 non-null float64
exconst           1586 non-null float64
polcomp           1586 non-null float64
prior             200 non-null float64
emonth            209 non-null float64
eday              209 non-null float64
eyear             209 non-null float64
eprec             209 non-null float64
interim           155 non-null float64
bmonth            169 non-null float64
bday              169 non-null float64
byear             169 non-null float64
bprec             169 non-null float64
post              167 non-null float64
change            265 non-null float64
d4                164 non-null float64
sf                56 non-null float64
regtrans          278 non-null float64
Region            1744 non-null category
dtypes: category(1), float64(34), int64(1), object(3)
memory usage: 519.6+ KB

None

In [24]:
# define sns.set()
sns.set(style="darkgrid")

In [25]:
findf.head()

,Country,Currency,Year,Per capita GDP,cyear,ccode,scode,flag,fragment,democ,...,bmonth,bday,byear,bprec,post,change,d4,sf,regtrans,Region
0,Angola,US$,1970,604.189952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA
1,Angola,US$,1971,622.501779,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA
2,Angola,US$,1972,622.704067,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA
3,Angola,US$,1973,743.128379,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA
4,Angola,US$,1974,812.704326,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA

In [38]:
# do the group and plot the time series object
meangdpc = findf.groupby(['Year', 'Region'])['Per capita GDP']
#meandemoc = findf.groupby(['Year', 'Region'])['democ']

In [39]:
meangdpc.size()

Series([], Name: Per capita GDP, dtype: int64)

In [40]:
findf['Year'] = pd.to_datetime(findf['Year'],format='%Y%m%d', errors='coerce')

In [41]:
#findf['Year'].apply(lambda x: x[:5])

In [42]:
findf.head()

,Country,Currency,Year,Per capita GDP,cyear,ccode,scode,flag,fragment,democ,...,bmonth,bday,byear,bprec,post,change,d4,sf,regtrans,Region
0,Angola,US$,NaT,604.189952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA
1,Angola,US$,NaT,622.501779,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA
2,Angola,US$,NaT,622.704067,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA
3,Angola,US$,NaT,743.128379,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA
4,Angola,US$,NaT,812.704326,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SSA

In [43]:
#findf['Region']

In [44]:
#findf.groupby(['Country', pd.Grouper(key='Year', freq='D')])['Per capita GDP'].mean()

In [45]:
import numpy as np

In [46]:
findf.groupby(['Region', 'Year'])['Per capita GDP'].agg(np.mean)

Series([], Name: Per capita GDP, dtype: float64)

In [ ]:
# useful subsetting technique
# ValidVisitorIDs = convdf1['cs.visitor_id'].unique().tolist()
# resultdf = df[df['cs.visitor_id'].isin(ValidVisitorIDs)]
# drop rows when meandf1[(meandf1['Polity2'].notnull()) & (len(meandf1['Country']) != len(findf['Year']))]

'''
units = meandf1['Country'].tolist()

for c in units:
    if meandf1['Polity2'].notnull() & len(meandf1['Country']) != len(findf['Year']):
        meandf1.drop(c, axis=0)
    else:
        pass
'''

In [ ]:
# WORKING WITH MEAN DF 
# df[(df['cs.visitor_id'] == vid) & (df['cs.evar59'].notnull())]
meandf1 = findf[['Country', 'Year', 'Per capita GDP', 'Polity2']]
#else:
#pass

# meandf1 = findf[(findf['Per capita GDP'].notnull()) & (findf['Polity2'].notnull())]

In [ ]:
# investigate meandf

meandf1.index = pd.RangeIndex(len(meandf1.index))

display(meandf1.head(100))
display(meandf1.tail(100))
print(meandf1.shape)
meandf1.info()

In [ ]:
# region column SSA
# create a list for each country and loop through it creating column meandf1['Region'] = 'SSA'

In [ ]:
# drop countries where polity2 is null in any year

dropc = findf1[findf1['Polity2'].isnull()].tolist()

In [ ]:
# load growth module and reshape
# file = r'C:\Users\Mohamed Ahmed Warsam\Desktop\Material\WORKING DIRECTORY\Governance_Growth\Governance.xlsx'

data1 = pd.read_excel(datapath, sheetname=0)
display (data1.head())

In [ ]:
# reshape and cleaning 1

melt_data = data1.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name="Year")
melt_data.tail()

In [ ]:
# reshape and cleaning 2

melt_data = melt_data[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Year', 'value']]
#melt_data.pivot(index='Country Name', columns='Indicator Name', values='value')
copy_melt = melt_data.copy()

In [ ]:
# reshape and cleaning 3

copy_melt = pd.pivot_table(copy_melt, values = 'value', index=['Country Name', 'Country Code','Year'], columns = 'Indicator Name').reset_index()
#copy_melt.index = piv_data['Year']
copy_melt.head()

In [ ]:
# dropping columns that are not needed
# dropping the "number of sources", "lower bound and upper bound", and "standard error"
# ideally you would automate this task by selecting all columns with the string estimate, and lower, upper

display (copy_melt.columns)

selection = ['Country Name', 'Country Code', 'Year', 'Control of Corruption: Estimate', 'Control of Corruption: Percentile Rank', 'Government Effectiveness: Estimate', 'Government Effectiveness: Percentile Rank', 'Political Stability and Absence of Violence/Terrorism: Estimate', 'Political Stability and Absence of Violence/Terrorism: Percentile Rank', 'Regulatory Quality: Estimate', 'Regulatory Quality: Percentile Rank', 'Rule of Law: Estimate', 'Rule of Law: Percentile Rank', 'Voice and Accountability: Estimate', 'Voice and Accountability: Percentile Rank']

display (selection)
display (type(selection))

In [ ]:
govdf = copy_melt[selection]
display(govdf.head())
print(govdf.shape)

In [ ]:
# inspect the regions and subset fingovdf to get the final dataset for merging

In [ ]:
# inspecting null entries visually

plt.figure(figsize=(12,8))
sns.heatmap(copy_melt.isnull(), yticklabels=False, cbar=False, cmap='viridis')

In [ ]:
# same to the growth dataset
# load data

file2 = r'C:\Users\Mohamed Ahmed Warsam\Desktop\Material\WORKING DIRECTORY\Governance_Growth\Development.xlsx'
data2 = pd.read_excel(file2, sheetname=0)
display (data2.head())

In [ ]:
# reshape and cleaning 1

melt_data2 = data2.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name="Year")
melt_data2.tail()

In [ ]:
# reshape and cleaning 2

melt_data2 = melt_data2[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Year', 'value']]
#melt_data.pivot(index='Country Name', columns='Indicator Name', values='value')
copy_melt2 = melt_data2.copy()

In [ ]:
# reshape and cleaning 3

copy_melt2 = pd.pivot_table(copy_melt2, values = 'value', index=['Country Name', 'Country Code','Year'], columns = 'Indicator Name').reset_index()
#copy_melt.index = piv_data['Year']
copy_melt2.head()

In [ ]:
# shape 

display(copy_melt2.shape)
print(copy_melt2.info())

In [ ]:
# download as excel file

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
copy_melt2.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
# filter dataset by region - Africa

SSA = ["Angola", "Gabon", "Nigeria", "Benin", "Gambia, The", "Rwanda", "Guinea-Bissau",
   "Botswana", "Ghana", "São Tomé and Principe", "Burkina Faso", "Guinea", "Senegal", "Burundi", "Seychelles", "Cabo Verde", "Kenya", "Sierra Leone", "Cameroon", "Lesotho", "Somalia", "Central African Republic", "Liberia", "South Africa", "Chad", "Madagascar", "Comoros", "Malawi", "Sudan", "Congo, Dem. Rep.", "Mali", "Swaziland", "Congo, Rep", "Mauritania", "Tanzania", "Côte d'Ivoire", "Mauritius", "Togo", "Equatorial Guinea", "Mozambique", "Uganda", "Eritrea" "Namibia", "Zambia", "Ethiopia", "Niger", "Zimbabwe"]

In [ ]:
# filter dataset by region - SSA filtering

ssa_melt = copy_melt2[copy_melt2['Country Name'].isin(SSA)]

In [ ]:
# Export ssa_melt

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('dev_indicators_ssa.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
ssa_melt.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
# filter dataset by region - LATIN AMERICA AND THE CARIBBEAN

LATC = ["Paraguay", "Argentina", "Peru", "Dominican Republic", "Ecuador", "El Salvador", "Bolivia", "Guatemala",
"Brazil", "Haiti","Honduras", "Chile", "Jamaica", "Colombia", "Mexico", "Uruguay", "Costa Rica", "Nicaragua", "Venezuela, RB", "Cuba", "Panama"]

In [ ]:
# filter dataset by region - EAST ASIA AND PACIFIC 

EAP = ["Philippines", "Lao PDR", "Brunei Darussalam", "Cambodia", "Malaysia", "Thailand", "Mongolia", "Myanmar", "Papua New Guinea", "Indonesia","Vietnam"]

In [ ]:
# Now get the dataset ready 
# merge PolityIV with development indicators for SSA and timerange

timerange = [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
            2008, 2009, 2010, 2011, 2012, 2013, 2013, 2014, 2015, 2016]

In [ ]:
resultdf = df[df['cs.visitor_id'].isin(by_year)]

In [ ]:
resultdf2 =

In [ ]:
finaldf = df[(df['year'].isin(time_range)) & (df['country'].isin(Africa_countries))]

In [ ]:
pd.merge?